:root {
    /* --colour-primary: ;
    --colour-secondary: ; */
    --padding-normal: 1rem;
}

* {
    border-collapse: collapse;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: calc(var(--padding-normal) * 2);
}

main, footer, section, nav li {
    padding: var(--padding-normal);
}

h1,h2,h3,h4,h5 {
    font-family: 'Patua One', cursive, sans-serif;
}

section {
    border: 1px solid #b392ac;
}

nav {
    width: 100%;
    border: 1px solid #56cfe1;
}

ul, dd, li {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

.accordion, nav.inline-tab ul {
    list-style-type: none;
}

.inline-tab {
    flex-wrap: wrap;
}

.icon-button, .accordion-header, [role=tab], .inline-tab {
    display: inline-flex;
    align-items: center;
}

.accordion-header {
    width: 100%;
    justify-content: space-between;
    border: 0;
}