:root {
    /* --colour-primary: ;
    --colour-secondary: ; */
}

* {
    border-collapse: collapse;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header, main, footer, section {
    padding: 1rem;
}

h1,h2,h3,h4,h5 {
    font-family: 'Patua One', cursive, sans-serif;
}

section {
    border: 1px solid #b392ac;
}

nav {
    border: 1px solid #56cfe1;
}

ul, dd, li {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

.accordion, nav.inline-tab ul {
    list-style-type: none;
}

.inline-tab {
    flex-wrap: wrap;
}

.icon-button, .accordion-button, [role=tab], .inline-tab {
    display: inline-flex;
    align-items: center;
}

.accordion-button {
    width: 100%;
    justify-content: space-between;
    border: 0;
}